@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 100%;
		--theme-link: 305deg 30% 85%;
		--theme-text: 0deg 0% 11%;
		--theme-accent: 8deg 81% 55%;
		--theme-accent-2: 0deg 0% 0%;
		--theme-quote: 8deg 81% 55%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 0deg 0% 11%;
		--theme-link: 305deg 30% 85%;
		--theme-text: 0deg 0% 89%;
		--theme-accent: 8deg 81% 55%;
		--theme-accent-2: 0deg 0% 100%;
		--theme-quote: 8deg 81% 55%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}

::selection {
	background: hsl(305, 30%, 85%);
}
