---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-mitj4c.jpeg";

const meta = {
	title: "Get Involved",
	description: "Get Involved with MIT Jews for Ceasefire",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Get Involved</h1>
		<p>
			To learn more and get involved, fill out your info on the <a
				class="cactus-link inline-block"
				href="https://forms.gle/3Zs7Sgpzd2SR3FG4A"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="interest form">interest form</a
			>, and an organizer will get in touch with you.
		</p>
		<div class="flex justify-center">
			<a href="https://forms.gle/3Zs7Sgpzd2SR3FG4A">
				<Image
					src={aboutImg}
					alt="A cartoon cactus looking at the 'Astro.build' logo"
					loading="eager"
					fetchpriority="high"
				/>
			</a>
		</div>
	</div>
</PageLayout>
