---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-mitj4c.jpeg";

const meta = {
	title: "Get Involved",
	description: "Get Involved with MIT Jews for Collective Liberation",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Get Involved</h1>
		<p>
			To learn more and get involved, fill out your info on the <a
				class="cactus-link inline-block"
				href="https://docs.google.com/forms/d/e/1FAIpQLSewY_nGPgeWLQuGHPQI_3nxgR_O1fVQhRusCGbfuDFEgfdrrg/viewform?usp=sf_link"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="interest form">interest form</a
			>, and an organizer will get in touch with you.
		</p>
		<div class="flex justify-center">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSewY_nGPgeWLQuGHPQI_3nxgR_O1fVQhRusCGbfuDFEgfdrrg/viewform?usp=sf_link">
				<Image
					src={aboutImg}
					alt="A picture of JCL's first gathering in 2023."
					loading="eager"
					fetchpriority="high"
				/>
			</a>
		</div>
	</div>
</PageLayout>
