---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const partnerOrgs: Array<{ title: string; desc?: string; href: string }> = [
	{ title: "MIT Coalition Against Apartheid", desc: "", href: "https://caa-mit.gitlab.io/" },
	{ title: "Palestine @ MIT", desc: "", href: "http://palestine.mit.edu/" },
	{ title: "MIT Black Students Union", desc: "", href: "http://bsu.scripts.mit.edu/wp/" },
	{ title: "MIT Black Graduate Students Association", desc: "", href: "https://bgsa.mit.edu/" },
	{ title: "MIT Asian American Initiative", desc: "", href: "http://asianamerican.mit.edu/" },
	{ title: "MIT Arab Student Organization", desc: "", href: "https://asomit.squarespace.com/" },
	{ title: "MIT Divest", desc: "", href: "https://www.mit-divest.com/" },
	{
		title: "MIT Reading for Revolution",
		desc: "",
		href: "https://engage.mit.edu/readingforrevolution/home/",
	},
	{
		title: "MIT Student Workers Alliance",
		desc: "",
		href: "https://www.instagram.com/mitswalliance/",
	},
]; // TODO: ADD ORGS HERE
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Welcome to MIT Jews for Ceasefire!</h1>
		<p class="mb-4">
			We're Jewish MIT students/staff/faculty/alumni in solidarity with Palestine. We say ceasefire
			NOW, end the occupation!
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Statements</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Partner Organizations</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				partnerOrgs.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link mr-0 inline-block pr-0 sm:mt-2"
						>
							{title}
						</a>
						{desc && (
							<>
								<span>-</span>
								<p class="inline-block sm:mt-2">{desc}</p>
							</>
						)}
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
