---
import type { CollectionEntry } from "astro:content";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

const partnerOrgs: { desc: string; href: string; title: string }[] = [
	{ title: "MIT Coalition Against Apartheid", desc: "", href: "https://caa-mit.gitlab.io/" },
	{ title: "Palestine @ MIT", desc: "", href: "http://palestine.mit.edu/" },
	{ title: "MIT Black Students Union", desc: "", href: "http://bsu.scripts.mit.edu/wp/" },
	{ title: "MIT Black Graduate Students Association", desc: "", href: "https://bgsa.mit.edu/" },
	{ title: "MIT Asian American Initiative", desc: "", href: "http://asianamerican.mit.edu/" },
	{ title: "MIT Arab Student Organization", desc: "", href: "https://asomit.squarespace.com/" },
	{ title: "MIT Divest", desc: "", href: "https://www.mit-divest.com/" },
	{
		title: "MIT Reading for Revolution",
		desc: "",
		href: "https://engage.mit.edu/readingforrevolution/home/",
	},
	{
		title: "MIT Student Workers Alliance",
		desc: "",
		href: "https://www.instagram.com/mitswalliance/",
	},
]; // TODO: ADD ORGS HERE
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Welcome to MIT JCL!</h1>
		<p class="mb-4">
			We are Jewish, anti-zionist, diasporist MIT students, staff, faculty, and alumni who stand in
			solidarity with Palestine and oppressed people everywhere. We actively seek universal
			recognition for human self-determination and dignity.
		</p>
		<SocialList />
	</section>
	<section class="mt-16">
		<h2 class="title mb-6 text-xl">Statements</h2>
		<ul class="space-y-4" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Partner Organizations</h2>
		<dl class="space-y-4" role="list">
			{
				partnerOrgs.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noreferrer" target="_blank">
									{title}
								</a>
								{desc && ":"}
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
