---
import PageLayout from "@/layouts/Base";
import NewsClip from "@/components/NewsClip";

const meta = {
	title: "Media",
	description: "A list of media references where you can find out works",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Media</h1>
		<p>View publications and other places you can find our words!</p>

		<h2 class="title mb-4 text-xl">News Outlets</h2>
		<ul class="space-y-8">
			<li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
				<NewsClip
					link="https://www.thenation.com/article/activism/university-protests-antisemitism-islamophobia"
					title="College Administrations Are Failing Their Palestinian and Jewish Students"
					description="An article on how universities including MIT have shut down protests and conflated anti-zionism with anti-semitism."
					pubDate={new Date("12 Oct 2023")}
					journal="The Nation"
				/>
			</li>
			<li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
				<NewsClip
					link="https://www-chronicle-com.libproxy.mit.edu/article/at-mit-fear-frustration-and-flailing-administrators"
					title="At MIT, Fear, Frustration, and Flailing Administrators"
					description="An article detailing the events of the November 9th sit-in at MIT, and the administration's response."
					pubDate={new Date("22 Nov 2023")}
					journal="Chronicle for Higher Ed"
				/>
			</li>
			<li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
				<NewsClip
					link="https://www.teenvogue.com/story/congressional-hearing-antisemitism-oped"
					description="An op-ed concerned the congressional hearing purporting to discuss anti-semitism at colleges including MIT."
					pubDate={new Date("22 Dec 2023")}
					journal="Teen Vogue"
				/>
			</li>
		</ul>
		<h2 class="title mb-4 text-xl">US Government</h2>
		<ul class="list-inside list-disc">
			<li>
				<a
					class="cactus-link inline-block"
					href="https://www.congress.gov/event/118th-congress/house-event/116625?s=1&r=12"
					target="_blank"
					rel="noopener noreferrer"
					aria-label="interest form"
					>Supporting Documents in "Holding Campus Leaders Accountable and Confronting Antisemitism"</a
				>
			</li>
			<li>
				Our statement is under "Ranking Member Robert C. "Bobby" Scott | Submission for the Record |
				Letter from U Penn, MIT, and Harvard Students <a
					class="cactus-link inline-block"
					href="https://www.congress.gov/118/meeting/house/116625/documents/HHRG-118-ED00-20231205-SD011.pdf"
					target="_blank"
					rel="noopener noreferrer"
					aria-label="interest form">[PDF 140KB]</a
				>"
			</li>
		</ul>
	</div>
</PageLayout>
