---
// biome-ignore lint/style/useImportType: <explanation>
import NewsClip from "@/components/NewsClip.astro";
import PageLayout from "@/layouts/Base.astro";
import type { ComponentProps } from "astro/types";

const meta = {
	title: "Media",
	description: "A list of media references where you can find out works",
};

const newsArticles: { articleType: string; articleList: ComponentProps<typeof NewsClip>[] }[] = [
	{
		articleType: "News Outlets",
		articleList: [
			{
				link: "https://www.thenation.com/article/activism/university-protests-antisemitism-islamophobia",
				title: "College Administrations Are Failing Their Palestinian and Jewish Students",
				description:
					"An article on how universities including MIT have shut down protests and conflated anti-zionism with anti-semitism.",
				pubDate: new Date("12 Oct 2023"),
				journal: "The Nation",
			},
			{
				link: "https://www-chronicle-com.libproxy.mit.edu/article/at-mit-fear-frustration-and-flailing-administrators",
				title: "At MIT, Fear, Frustration, and Flailing Administrators",
				description:
					"An article detailing the events of the November 9th sit-in at MIT, and the administration's response.",
				pubDate: new Date("22 Nov 2023"),
				journal: "Chronicle for Higher Ed",
			},
			{
				link: "https://www.teenvogue.com/story/congressional-hearing-antisemitism-oped",
				title: "Do American Colleges Have an Antisemitism Problem?",
				description:
					"An op-ed concerned the congressional hearing purporting to discuss anti-semitism at colleges including MIT.",
				pubDate: new Date("22 Dec 2023"),
				journal: "Teen Vogue",
			},
		],
	},
	{
		articleType: "US Government",
		articleList: [
			{
				link: "https://www.congress.gov/event/118th-congress/house-event/116625?s=1&r=12",
				title:
					'Letter for the Record re: Hearing on "Holding Campus Leaders Accountable and Confronting Antisemitism"',
				description:
					'Our statement is under "Ranking Member Robert C. "Bobby" Scott | Submission for the Record | Letter from U Penn, MIT, and Harvard Students',
				pubDate: new Date("5 Dec 2023"),
				journal: "House Education and the Workforce",
			},
		],
	},
];
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Media</h1>
		<p>View publications and other places you can find our words!</p>

		{
			newsArticles.map(({ articleType, articleList }) => (
				<>
					<h2 class="title mb-4 text-xl">{articleType}</h2>
					<ul class="space-y-8">
						{articleList.map((article) => (
							<li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
								<NewsClip {...article} />
							</li>
						))}
					</ul>
				</>
			))
		}
	</div>
</PageLayout>
