---
import FormattedDate from "@/components/FormattedDate.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	title: "Values and Mission",
	description: "Our Values as MIT Jews for Ceasefire",
};
---

<PageLayout meta={meta}>
	<h1 class="title">Values and Mission</h1>
	<em class="font-semibold">Adopted <FormattedDate date={new Date("March 8, 2024")} /></em>
	<div
		class="prose prose-sm prose-cactus prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent prose-th:before:content-none mt-12 max-w-[48rem]"
	>
		<h2>We build the Jewish community we envision at MIT</h2>
		<p>
			We create a space for all Jews — especially Jews of Color, Indigenous, Sephardi, Mizrahi,
			Queer, and Disabled Jews. We bring our unique backgrounds, identities and perspectives, grow
			in our understanding of ourselves and our place in the world, and strive to make our
			communities safe and free.
		</p>
		<p>
			We center our community on the Jewish value of <em>Doikayt</em>, or “here-ness.” This means
			creating a home for Jews and everyone else, where we are, at MIT — free of antisemitism and
			all other forms of bigotry. As anti-Zionist Jews, we do not look to or wait on a Jewish nation
			state to feel safe — we start working right here, right now.
		</p>

		<h2>We stand in solidarity with Palestinian Liberation</h2>
		<p>
			As Jews, we reject Zionism and demand an end to the genocide, apartheid, and occupation that
			subjugates our Palestinian siblings. Jewish history teaches us the importance of a people's
			self-determination and we stand in solidarity with the Palestinian movement for liberation and
			we affirm Palestinians' right to resist. We will not engage in attempts to undermine the fight
			for Palestinian liberation that draw the movement into endless public debates over the means
			by which Palestinians dismantle the systems that oppress them. We define our role as Jews at
			MIT to pressure our institutions to end support for Israeli genocide, apartheid, and
			occupation.
		</p>

		<h2>We are committed to Collective Liberation</h2>
		<p>
			As a Jewish group, we fight for Jewish safety at MIT and beyond. We know that our safety is
			threatened by white supremacist ideologies, including the dangerous conflations of Judaism and
			Zionism, and pitting of Jews against other minorities, especially our Muslim, Arab, and
			Palestinian siblings. We must dismantle white supremacy in all its forms — it is impossible to
			fight antisemitism while embracing other forms of racism. The struggle for Jewish safety and
			liberation is inextricably linked with those of other oppressed groups around the world. We
			will not stop fighting until we achieve our common goal of collective liberation.
		</p>

		<h2>We take care of ourselves and each other</h2>
		<p>
			We create a community in which we care for and collaborate with one another. We step up when
			others need us and ask for help when we are in need. As a group striving towards justice in
			the world, we value and nurture each person's well-being. As part of a larger movement, we
			show up for our allies to sustain each other in collective struggle at MIT and beyond.
		</p>

		<h2>We practice Teshuvah</h2>
		<p>
			We are committed to the practice of <em>Teshuvah</em>, which roughly translates to returning
			to something you've looked away from. If we stray from our values, fail to show up
			effectively, or inadvertently cause harm, we will take accountability for our actions and work
			to repair and prevent future negligence or harm. To build a just world we must actively work
			to unlearn and fight against our own ignorance and internalized prejudices. We will return to
			our values, reflect, and grow. We actively welcome feedback both from within our community
			and, especially, from our siblings fighting for justice alongside us.
		</p>

		<h2>Our Language</h2>
		<dl>
			<dt>Zionism</dt>
			<dd>
				The belief that the Jewish right to self determination is intrinsically tied to the
				existence of a Jewish nation state, which can only be achieved through violent occupation,
				settler colonialism, expulsion, and exclusion of the indigenous population.
			</dd>
			<dt>Anti-Zionism</dt>
			<dd>
				The belief that the Jewish right to self determination is threatened by the illusion of
				safety under a Jewish nation state, and that a militarized settler colonial regime is in
				direct opposition of Jewish liberation which is intrinsically tied to the liberation of
				Palestinians and all oppressed people.
			</dd>
			<dt>Antisemitism</dt>
			<dd>
				We embrace the <a href="https://jerusalemdeclaration.org/"
					>Jerusalem Declaration on Antisemitism (JDA)</a
				> which defines antisemitism as the “discrimination, prejudice, hostility, or violence against
				Jews as Jews (or Jewish institutions as Jewish).” The JDA definition further expands on the definition
				with guidelines under three categories: (1) General, (2) Israel and Palestine: examples that,
				on the face of it, are antisemitic, and (3) Israel and Palestine: examples that, on the face
				of it, are not antisemitic.
			</dd>
			<dt>Apartheid</dt>
			<dd>
				As defined by Human Rights Watch, Apartheid is a crime against humanity consisting of three
				primary elements: (1) an intent by one racial group to dominate another; (2) systematic
				oppression by the dominant group over the marginalized group; and (3) particularly grave
				abuses known as inhumane acts.
			</dd>
			<dd>
				Human Rights organizations on Israeli Apartheid
				<ol>
					<li><a href="https://www.adalah.org/en/content/view/10770">Adalah</a></li>
					<li><a href="https://www.alhaq.org/advocacy/20931.html">Al-Haq</a></li>
					<li>
						<a href="https://www.amnesty.org/en/documents/mde15/5141/2022/en/"
							>Amnesty International</a
						>
					</li>
					<li>
						<a
							href="https://www.hrw.org/report/2021/04/27/threshold-crossed/israeli-authorities-and-crimes-apartheid-and-persecution"
							>Human Rights Watch</a
						>
					</li>
					<li><a href="https://www.btselem.org/apartheid">B'tselem</a></li>
					<li>
						<a
							href="https://hrp.law.harvard.edu/wp-content/uploads/2022/03/IHRC-Addameer-Submission-to-HRC-COI-Apartheid-in-WB.pdf"
							>Harvard Human Rights Clinic</a
						>
					</li>
				</ol>
			</dd>
			<dt>Genocide</dt>
			<dd>
				According to the <a
					href="https://www.ohchr.org/en/instruments-mechanisms/instruments/convention-prevention-and-punishment-crime-genocide"
					>Convention of the Prevention and Punishment of the Crime of Genocide</a
				>, genocide means any of the following acts committed with intent to destroy, in whole or in
				part, a national, ethnical, racial or religious group, as such:
				<ol>
					<li>Killing members of the group;</li>
					<li>Causing serious bodily or mental harm to members of the group;</li>
					<li>
						Deliberately inflicting on the group conditions of life calculated to bring about its
						physical destruction in whole or in part;
					</li>
					<li>Imposing measures intended to prevent births within the group;</li>
					<li>Forcibly transferring children of the group to another group</li>
				</ol>
			</dd>
			<dt>Diasporism</dt>
			<dd>
				Diasporism is the practice of creating religious, cultural, social, political, and economic
				homes wherever we, as Jews, find ourselves. Central to this practice is the conception of
				<em>Doikayt</em> (hereness), a commitment to create vibrant spheres of Jewish life and fight
				for collective liberation in our communities.
			</dd>
			<dt>Further Reading:</dt>
			<dd>
				<ul>
					<li>
						<em>The Colors of Jews</em> by Melanie Kaye/Kantrowitz <a
							href="https://www.jewishvoiceforpeace.org/resource/zionism/"
							>https://www.jewishvoiceforpeace.org/resource/zionism/</a
						>
					</li>
					<li>
						<a
							href="https://www.jewishvoiceforpeace.org/2019/01/12/a-partial-history-of-jewish-alternatives/"
							>https://www.jewishvoiceforpeace.org/2019/01/12/a-partial-history-of-jewish-alternatives/</a
						>
					</li>
					<li>
						<a href="https://www.thenation.com/article/world/antisemitism-palestine-israel-gaza/"
							>https://www.thenation.com/article/world/antisemitism-palestine-israel-gaza/</a
						>
					</li>
					<li>
						<a href="https://jwa.org/encyclopedia/article/kaye-kantrowitz-melanie"
							>https://jwa.org/encyclopedia/article/kaye-kantrowitz-melanie</a
						>
					</li>
					<li>
						<a href="https://jewishcurrents.org/on-an-emerging-diasporism"
							>Jacob Plitman, On an Emerging Diasporism</a
						>
					</li>
					<li>
						<a href="https://www.aprilrosenblum.com/world">https://www.aprilrosenblum.com/world</a>
					</li>
					<li>
						<a href="https://journals.sagepub.com/doi/10.1177/0032329221999906"
							>https://journals.sagepub.com/doi/10.1177/0032329221999906</a
						>
					</li>
					<li><a href="https://jerusalemdeclaration.org/">https://jerusalemdeclaration.org/</a></li>
					<li>
						<a
							href="https://www.ohchr.org/en/instruments-mechanisms/instruments/convention-prevention-and-punishment-crime-genocide"
							>https://www.ohchr.org/en/instruments-mechanisms/instruments/convention-prevention-and-punishment-crime-genocide</a
						>
					</li>
					<li>
						<a
							href="https://www.hrw.org/news/2021/07/19/israeli-apartheid-threshold-crossedhttps://www.adalah.org/en/content/view/10770"
							>https://www.hrw.org/news/2021/07/19/israeli-apartheid-threshold-crossedhttps://www.adalah.org/en/content/view/10770</a
						>
					</li>
					<li>
						<a href="https://www.alhaq.org/advocacy/20931.html"
							>https://www.alhaq.org/advocacy/20931.html</a
						>
					</li>
					<li>
						<a
							href="https://www.hrw.org/report/2021/04/27/threshold-crossed/israeli-authorities-and-crimes-apartheid-and-persecution"
							>https://www.hrw.org/report/2021/04/27/threshold-crossed/israeli-authorities-and-crimes-apartheid-and-persecution</a
						>
					</li>
					<li><a href="https://www.btselem.org/apartheid">https://www.btselem.org/apartheid</a></li>
					<li>
						<a
							href="https://hrp.law.harvard.edu/wp-content/uploads/2022/03/IHRC-Addameer-Submission-to-HRC-COI-Apartheid-in-WB.pdf"
							>https://hrp.law.harvard.edu/wp-content/uploads/2022/03/IHRC-Addameer-Submission-to-HRC-COI-Apartheid-in-WB.pdf</a
						>
					</li>
					<li>
						<a href="https://www.amnesty.org/en/documents/mde15/5141/2022/en/"
							>https://www.amnesty.org/en/documents/mde15/5141/2022/en/</a
						>
					</li>
				</ul>
			</dd>
		</dl>
	</div>
</PageLayout>
