---
import { Icon } from "astro-icon/components";

/**
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		name: "tabler:brand-instagram",
		friendlyName: "Instagram",
		link: "https://www.instagram.com/mit_jcl/",
	},
	{
		name: "tabler:brand-bluesky",
		friendlyName: "Bluesky",
		link: "https://bsky.app/profile/mitjcl.bsky.social",
	},
	{
		name: "tabler:brand-x",
		friendlyName: "X (Twitter)",
		link: "https://x.com/mit_jcl",
	},
	{
		name: "tabler:mail",
		friendlyName: "email",
		link: "mailto:mitjewsforcollectiveliberation@gmail.com",
		isWebmention: true,
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find us on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-block"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
